.menu .row .tools {
  display: none;
}

@media only screen and (max-width: 992px) {
  .copyright .copy-r {
    display: none;
  }
}
@media only screen and (max-width: 1200px) {
  .second-menu {
    display: none;
  }
}
@media only screen and (max-width: 960px) {
  .right-follow-me {
    display: none;
  }
}

/* ////////loading page////////// */
.loading{
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background-color: #d60231;
  z-index: 10;
  transition: ease all .5s;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 35px;
}
.loaded{
  opacity: 0;
  visibility: hidden;
}

@keyframes loader {
  form{
    transform: rotate(0);
  }
  to{
    transform: rotate(360deg);
  }
}


/* /////////////////////// */
/* Style the tab */
/* .tab {
  display: flex;
  justify-content: center;
  gap: 20px;
} */

.ads .images {
  display: flex;
  justify-content: center;
  gap: 85px;
  padding: 80px 0;
  flex-wrap: wrap;
}
.ads .images img {
  /* width: 100px; */
}
.swiper1 {
  width: 100%;
  height: 100%;
}

.swiper-slide1 {
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: flex;
  flex-direction: row !important;
  justify-content: center;
  align-items: center;
}
.swiper-wrapper1{
  display: flex !important;
  justify-content: center;
  padding: 50px 0;
}
.swiper-slide1 img {
  display: block;
  /* width: 70%; */
  /* height: 100%; */
  object-fit: cover;
}
footer .main {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  gap: 140px;
}
.copyright {
  padding: 32px 0px;
  color: #919191;
  /* display: flex; */
  /* flex-direction: row; */
  /* align-items: center; */
}
.copyright p,span,li a{
  font-family: myfont;
}
.copyright li a{
  color: black;
}
.copyright li a:hover{
  color: #d60231;
}
.main-wrapper {
  background: url(./Images/footer-bg.jpg);
  background-size: cover;
  background-position: bottom;
  background-repeat: no-repeat;
  padding: 120px 0;
}
footer ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 30px;
  margin-top: 30px;
}
footer .contact h4,
.contact2 h4,
.subscribe h3 {
  font-size: 20px;
  font-family: myfont;
  font-weight: 600;
  text-transform: capitalize;
}

footer .icon {
  width: 30px;
  height: 30px;
  background: #ffc139;
  color: white;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
footer .contact2 span{
  font-family: myfont2;
  font-size: 15px;
}
footer .contact span{
  font-family: myfont2;
  font-size: 15px;
}
footer .contact2 .icon {
  /* width: 20px; */
  /* height: 20px; */
  background: transparent;
  color: #ffc139;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
footer li div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 15px;
}

footer li {
  display: flex;
  justify-content: space-between;
  gap: 25px;
  color: #767676;
}
footer .contact2 li {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
footer .contact2 li > span {
  padding-left: 55px;
}
footer .subscribe {
  max-width: 300px;
}
footer .subscribe h3 {
  padding-bottom: 35px;
}
footer .subscribe p {
  font-size: 15px;
  line-height: 24px;
  color: #767676;
  font-family: myfont2;
}
footer .subscribe span {
  color: #767676;
}
footer .subscribe span i {
  padding: 0 5px;
}
footer .subscribe span i:hover{
  color: #d60231;
}
footer .subscribe input[type="email"] {
  border: none;
  outline: none;
  border: 1px solid #d60231;
  padding: 15px 10px;
  font-size: 16px;
  margin: 20px 0;
}
footer .subscribe input[type="submit"] {
  background-color: #d60231;
  border: none;
  outline: none;
  padding: 16px 6px;
  font-size: 15.5px;
  color: white;
  margin: -4px;
}

@media only screen and (max-width: 850px) {
  footer .main {
    flex-direction: column;
    align-items: center;
    /* align-items: flex-start; */
    /* margin-left: 50px; */
  }
}

/*



end new styles



*/
@font-face {
  font-family: myfont;
  src: url(Fonts/Poppins/PoppinsLatin-Medium.ttf);
}
@font-face {
  font-family: myfont2;
  src: url(Fonts/Poppins/PoppinsLatin-Regular.ttf);
}
* {
  /* font-family: myfont; */
  font-family: Poppins, sans-serif;
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
}
#top-menu {
  background-color: #262626;
  height: 55px;
  position: sticky;
  top: 0;
  width: 100%;
  z-index: 100;
}
.market {
  display: flex;
  justify-content: space-between;
}
.evano {
  /* background-color: aliceblue; */
  padding: 15px 10px;
  width: 160px;
  /* height: 20px; */
}
.evano img {
  width: 100%;
}
.buy-now {
  width: 130px;
  height: 55px;
  /* background-color: antiquewhite; */
  display: flex;
  justify-content: center;
  align-items: center;
}
.buy-now a {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 90px;
  height: 31px;
  color: white;
  background-color: #82b440;
  border-radius: 4px;
  box-shadow: 0 2px 0 #6f9a37;
  font-size: 14px;
}

#menu .item,
.subitem {
  line-height: 270%;
  padding: 0 20px;
}
#menu .subitem {
  padding-left: 20px;
  padding-right: 0;
  line-height: 270%;
}
#menu #menus a {
  color: black;
  display: block;
  border-bottom: 1px solid #e6e6e6;
  /* margin: 0 20px; */
}
#menu #menus .item .last {
  border-bottom: none;
}
#menu .submenus {
  display: none;
}

.Btn-1 {
  position: absolute;
  z-index: 2;
  top: 90px;
  right: 12px;
  cursor: pointer;
  color: red;
}
.logo {
  /* background-color: aqua; */
  height: 60px;
  width: 230px;
  padding: 25px 33px 10px 33px;
}
span.right {
  float: right;
}
/* /////////////////header of site////////////////////////////////// */
#header {
  background-image: url(Images/banner-bg.jpg);
  background-repeat: no-repeat !important;
  background-size: cover !important;
  background-position: right;
  text-align: center;
}
#header-2 {
  background-image: url(Images/bg-header-about-us.jpg);
  background-repeat: no-repeat !important;
  background-size: cover !important;
  text-align: center;
  background-position: bottom center;
  padding: 75px 0;
}
.orderAndWelcome > h2,
h3 {
  font-family: myfont;
}
.orderAndWelcome span {
  font-family: myfont2;
}
.orderAndWelcome > span {
  color: #ffc139;
  font-size: 20px;
  padding-top: 100px;
  /* padding-bottom: 10px; */
  display: inline-block;
  text-transform: capitalize;
  /* line-height: 1.5; */
}
.about-foodBuzz h3 {
  color: #d60231;
}
.about-foodBuzz span:nth-child(odd) {
  color: #d60231;
}
.orderAndWelcome h2 {
  color: #d60231;
  font-size: 42px;
  padding-left: 5px;
  padding-right: 5px;
}
.orderAndWelcome h3 {
  font-size: 24px;
  line-height: 1.5;
}
/* ///////////////////update header/////////////////////////// */
#header .form {
  /* background-color: #6f9a37; */
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 35px;
  margin: 35px auto 0 auto;
  flex-wrap: wrap;
  padding-bottom: 100px;
}
#header .form a {
  margin-right: 25px;
}
#header .form a:last-child {
  margin-right: 0px;
}
.btn-header {
  position: relative;
  overflow: hidden;
  border: none;
  outline: none;
  display: inline-block;
  padding: 16px 25px;
  background: #d60231;
  border-radius: 4px;
  font-family: myfont2;
}
.btn-header span {
  z-index: 1;
  position: relative;
  font-size: 14px;
  font-weight: 600;
  color: #fff;
  text-transform: uppercase;
  font-family: myfont2;
}
.btn-two {
  overflow: visible;
  background: transparent;
  border: 2px solid #d60231;
  padding: 14px 30px;
}
.news-ad .best-news .btn-order-now{
  border: 2px solid #fff;
}
.news-ad .best-news .btn-order-now span{
  color: #fff;
}
.btn-two span {
  color: #d60231;
}
.btn-two:hover span {
  color: #fff;
}
.btn-header::after {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  transform: scaleX(0);
  transform-origin: 100% 50%;
  background: #362725;
  transition: transform 0.3s ease-in-out;
}
.btn-two::after {
  background-color: #d60231;
  font-family: "Poppins";
  font-family: PO;
}
.btn-header:hover::after {
  transform: scaleX(1);
  transform-origin: 0% 50%;
}

/* /////////////////////end of update header///////////////////////////////////////////////// */

/* .orderAndWelcome .btn-two {
  background-color: #d6023000;
  border: none;
  border: 2px solid #d60231;
  outline: none;
  color: #d60231;
  text-transform: uppercase;
  padding: 16px 22px;
  border-radius: 5px;
  margin: 10px;
  margin-top: 20px;
  margin-bottom: 100px;
  font-weight: bold;
} */
#history {
  background-color: white;
  /* max-width: 1200px; */
  /* margin: 0 auto; */
  padding: 70px 0;
}
.history-2 {
  background-image: url(Images/bg-image-404.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top right;
  /* padding: 70px 0 !important; */
}
.history-2 .section {
  max-width: 1200px;
  margin: 0 auto;
}

#header-3 {
  background-color: #f7f1e9;
  /* max-width: 1200px; */
  /* padding: 100px 0; */
}
#header-3 h2 {
  color: black;
  font-size: 30px;
}
#header-3 p {
  font-size: 15px;
  max-width: 450px;
  color: #696969;
  line-height: 24px;
  padding-top: 10px;
  /* margin: 0 auto; */
}
#header-3 .section {
  max-width: 1200px;
  margin: 0 auto;
}
.day-hour {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  position: relative;
}
.day-hour > li {
  /* background-color: #c2a4a4; */
  width: 135px;
  padding: 10px 0;
}
.day-hour p {
  color: black !important;
}
.day-hour .days-odd::after {
  position: absolute;
  right: 50%;
  top: 20;
  transform: translateY(-50%);
  content: ":";
  color: #362725;
  font-size: 20px;
  font-weight: bolder;
}
.histori-logo {
  text-align: center;
  /* padding-top: 70px; */
}
.histori-logo-2 {
  margin-bottom: 40px;
}
.histori-logo img {
  max-width: 100%;
  /* display: block; */
}
.about-r {
  text-align: center;
  margin-top: 30px;
}
.about-r2 {
  text-align: left;
}
.about-r2 h1 {
  color: #d60231 !important;
}
.about-r2 h2 {
  color: black !important;
  font-size: 28px;
}
.about-r span {
  font-family: myfont;
  color: #d60231;
  display: inline-block;
  font-size: 24px;
  line-height: 1;
  font-weight: 600;
}
.about-r h3 {
  font-size: 30px;
  line-height: 1.2;
  margin-bottom: 10px;
}
.about-r p {
  margin-bottom: 15px;
  font-size: 15px;
  line-height: 24px;
  color: #696969;
  font-family: myfont;
}
.about-r .btn-header {
  border: none;
  outline: none;
  display: inline-block;
  padding: 16px 25px;
  background: #d60231;
  border-radius: 4px;
  font-family: myfont;
  position: relative;
  overflow: hidden;
  margin-top: 20px;
}
.about-r .btn-header span {
  z-index: 1;
  position: relative;
  font-size: 14px;
  font-weight: 600;
  color: #fff;
  text-transform: uppercase;
}
.about-r .btn-two {
  overflow: visible;
  background: transparent;
  border: 2px solid #d60231;
  padding: 14px 30px;
  /* margin-top: 15px; */
}
.about-r .btn-two span {
  color: #d60231;
}
.about-r .btn-two:hover span {
  color: #fff;
}
.about-r .btn-header::after {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  transform: scaleX(0);
  transform-origin: 100% 50%;
  background: #362725;
  transition: transform 0.3s ease-in-out;
}
.about-r .btn-two::after {
  background-color: #d60231;
  font-family: "Poppins";
  font-family: PO;
}
.about-r .btn-header:hover::after {
  transform: scaleX(1);
  transform-origin: 0% 50%;
}

/* .get-dir {
  background-color: #d6023000;
  border: none;
  border: 2px solid #d60231;
  outline: none;
  color: #d60231;
  text-transform: uppercase;
  padding: 16px 22px;
  border-radius: 5px;
  font-weight: bold;
  margin: 10px;
  margin-top: 40px;
  margin-bottom: 50px;
} */
.get-2 {
  background: #d60231;
  color: white;
  margin-left: 0px;
}
.get-dir-2 {
  background-color: #fff;
  border: none;
  outline: none;
  color: #444444;
  text-transform: capitalize;
  padding: 22px 22px;
  padding-left: 50px;
  border-radius: 0px;
  font-weight: bold;
  margin: 10px;
  margin-top: 40px;
  margin-bottom: 50px;
  width: 83%;
}
.get-dir-2-1 {
  background-color: #d60231;
  border-radius: 3px;
  color: #fff;
  position: absolute;
  top: 0;
  right: 0;
  margin-top: 44px;
  text-transform: capitalize;
  /* padding-left: 50px; */
  /* padding-right: 50px; */
}
.form-dir-2 {
  position: relative;
}
.form-dir-2 span {
  position: absolute;
  left: 5%;
  top: 30%;
}
#special-food {
  background-image: url(Images/product-bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
}
#special-food .wrapper {
  background: rgba(0, 0, 0, 0.3);
  max-width: 100%;
}

#special-food .logo-s-food {
  padding: 70px 0 20px 0;
}
#special-food h3,
h1 {
  color: white;
  line-height: 45px;
}
#special-food h3 {
  font-size: 30px;
}
.article h4 {
  padding-bottom: 10px;
}
.article a {
  color: #362725;
  font-weight: 600;
  font-family: myfont2;
  font-size: 15px;
}
.article p.rate {
  text-align: center;
  padding: 10px 0 30px 0;
}
.article-2 p.rate {
  padding: 0px !important;
}
.article p.rate span i {
  margin: 0 2px;
}

.article {
  text-align: center !important;
  max-width: 570px;
  background-color: #ffffff;
  margin: 15px auto;
  border-radius: 10px;
  transition: all 0.3s ease;
  /* padding: 30px 0; */
}
.article-menuCard {
  box-shadow: 0 0 10px rgba(136, 136, 136, 0.1);
}
.article-menuCard3 {
  box-shadow: 0 0 10px rgba(136, 136, 136, 0.1);
}
.last-article {
  margin-bottom: 100px;
}

.article .image {
  overflow: hidden;
  position: relative;
  width: 200px;
  margin: 0px auto;
  padding: 30px 0;
}
.article .image img {
  width: 100%;
  display: block;
}
.article .imagelabel {
  width: 50px;
  height: 50px;
  border-radius: 100%;
  line-height: 50px;
  background-color: #d60231;
  position: absolute;
  top: 30px;
  right: 20px;
  border: 4px solid white;
  color: white;
}
.article:hover .image .imagelabel {
  background-color: white;
  color: #d60231;
  border-color: #d60231;
}
.article:hover a {
  color: #d60231;
}
.article:hover {
  transform: translateY(-5px);
}

.article h4 {
  color: #d60231 !important;
  font-family: myfont2;
  font-size: 17px;
  font-weight: normal;
}

.foods-items {
  text-align: center;
}
#foods-item .section {
  /* background-color: #362725; */
  text-align: center;
  margin: 100px auto;
}
.foodsItem-cardMenu3 .section {
  max-width: 1300px;
}
#foods-item .logo-s-food img {
  /* width: 500px; */
  width: 100%;
}
#foods-item .logo-s-food {
  max-width: 1170px;
  margin: 0 auto;
}
.foods-items h3 {
  color: #d60231;
  font-size: 30px;
  line-height: 70px;
  font-family: myfont2;
}
.foods-items h1 {
  color: black;
  font-size: 50px;
  padding-bottom: 60px;
  font-family: myfont;
}

.foods-items {
  background: url(./Images/bg-food-items.jpg);
  min-height: 50vh;
  background-size: cover;
  background-attachment: fixed;
  padding: 120px 0;
}
#foods-item {
  background-color: #ffffff;
}
.foods-item-2 {
  background-color: #fafafa !important;
}
.foods-item-2 .section {
  /* background-color: #362725; */
  text-align: center;
  margin: 0px auto !important;
  padding-top: 100px;
}
.foods-item-2 .section:nth-child(4) {
  padding-bottom: 100px;
}

#London input {
  background-color: #d60231;
  border: none;
  outline: none;
  color: white;
  padding: 15px 30px;
  border-radius: 5px;
  font-weight: bold;
  margin-top: 10px;
}
.tab {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
}
.tab img {
  display: inline-block;
  padding: 10px;
}
/* Style the buttons inside the tab */
.tab button {
  background-color: inherit;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 4px 6px;
  transition: 0.3s;
  font-size: 17px;
  background: #fff !important;
  box-shadow: 0 0 10px rgba(136, 136, 136, 0.1);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 220px;
}

/* Change background color of buttons on hover */
.tab button:hover {
  background-color: #ddd;
}

/* Create an active/current tablink class */
.tab button.active {
  border-top: 2px solid #d60231;
}

/* Style the tab content */
.tabcontent {
  display: none;
  padding: 16px 12px;
  /* border: 1px solid #ccc; */
  border-top: none;
  max-width: 1170px;
  margin: 0 auto;
  /* background: #fdeaee; */
}
.tabcontent-2 {
  background: #d8f6eb;
  padding: 10px 5px;
  padding-bottom: 5px;
  max-width: 600px;
  margin: 0 auto;
}
.tabcontent-2-1 {
  background-color: #fdeaee;
  padding: 10px 5px;
  padding-bottom: 5px;
  max-width: 600px;
  margin: 0 auto;
}
.tabcontent-2-2 {
  padding: 10px 5px;
  padding-bottom: 5px;
  background-color: #ffeed0;
  max-width: 600px;
  margin: 0 auto;
}
.tabcontent-2-3 {
  padding: 10px 5px;
  padding-bottom: 5px;
  background-color: #dfcdf9;
  max-width: 600px;
  margin: 0 auto;
}
.tabcontent-2-3 .img-menus {
  width: 95%;
  margin: 0 auto;
  overflow: hidden;
}
.tabcontent-2-2 .img-menus {
  width: 95%;
  margin: 0 auto;
  overflow: hidden;
}
.tabcontent-2-1 .img-menus {
  width: 95%;
  margin: 0 auto;
  overflow: hidden;
}
.tabcontent-2 .img-menus {
  width: 95%;
  margin: 0 auto;
  overflow: hidden;
}
.tabcontent-2-3 .img-menus img {
  width: 100%;
}
.tabcontent-2-1 .img-menus img {
  width: 100%;
}
.tabcontent-2-2 .img-menus img {
  width: 100%;
}
.tabcontent-2 .img-menus img {
  width: 100%;
}
.article-2 .image {
  overflow: hidden;
  position: relative;
  width: 120px;
  margin: 0px auto;
  padding: 30px 0;
}
.article-2 .image img {
  width: 100%;
  display: block;
}

.article-2 .imagelabel {
  width: 36px;
  height: 36px;
  border-radius: 100%;
  line-height: 35px;
  background-color: #d60231;
  position: absolute;
  top: 20px;
  right: 18px;
  border: 4px solid white;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: myfont2;
  font-size: 14px;
}
p.chiken {
  margin: 0 auto;
  max-width: 450px;
  color: #6f6f6f !important;
  padding: 6px 10px;
  padding-bottom: 15px;
  line-height: 25px;
  border-top: 2px dotted rgba(198, 198, 198, 0.575);
  font-family: myfont2;
  font-weight: normal;
}
.online-table {
  background: url(./Images/product-bg.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  text-align: center;
}
.online-table .section {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}
.online-table h3 {
  color: white;
  font-size: 30px;
  font-family: myfont2;
}
.online-table h1 {
  color: #fff;
  font-size: 30px;
  font-family: myfont;
  margin-bottom: 30px;
}
.online-table .logo-s-food img {
  margin: 10px 0 15px;
}

.online-table .wrapper {
  background: rgba(0, 0, 0, 0.3);
  padding: 70px 0;
  max-width: 100%;
}

#online-table2 {
  background-color: #fffaf4 !important;
  text-align: center;
  padding: 70px 0;
}
#online-table2 h3 {
  font-size: 30px;
  font-weight: 600;
  color: #d60231;
  padding-top: 10px;
}
#online-table2 h1 {
  color: #362725;
  padding-bottom: 20px;
}
.online-table .Reservation {
  background-color: white;
  overflow: hidden;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  border-radius: 10px;
  padding: 20px;
}
#online-table2 .Reservation {
  background-color: white;
  max-width: 500px;
  overflow: hidden;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(136, 136, 136, 0.1);
}
.Reservation .bg-table {
  background-image: url(Images/bg-table.png);
  background-position: center;
  height: 300px;
  background-size: cover;
  margin-bottom: 40px;
}
.Reservation form {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.form1 {
  margin: auto;
}
.form-table form input,
textarea {
  margin-bottom: 20px !important;
  outline: none;
  border: 1px solid #e6e6e6 !important;
  border-radius: 10px;
  width: 100% !important;
  padding: 13px 15px !important;
  background-color: transparent !important;
  font-family: myfont2;
  font-size: 15px;
  /* color: #696969; */
}
.form-table form input[type="date"] {
  color: #696969;
}
.result-t {
  border: 1px solid #e6e6e6;
  border-radius: 10px;
  margin-bottom: 15px;
  width: 100%;
  padding: 13px 15px !important;
}
.result-t select {
  width: 100%;
  border: none;
  color: #696969;
  font-family: myfont2;
  font-size: 15px;
  padding: 2px;
}
.form1 .Book-Table {
  background-color: transparent;
  width: 140px !important;
  height: 46px !important;
  border-radius: 4px !important;
  border: 2px solid #db214a !important;
  color: #db214a !important;
  float: left;
}
.form1 .select {
  border: none;
  outline: none;
  border: 1px solid #d6d0d0d3;
  border-radius: 8px;
  /* padding: 15px; */
  width: 440px;
  height: 45px;
  margin: 10px auto;
  padding: 5px 10px;
  font-size: 15px;
  background-color: transparent;
  color: #b5b0b0;
}
.form1 textarea {
  resize: none;
  border: 1px solid #d6d0d0d3;
  border-radius: 10px;
  padding: 10px;
  margin: 10px 0;
}
.meet-chef {
  background-color: #faf7f2;
  text-align: center;
  padding: 100px 0;
}
.meet-chef h3 {
  color: #d60231;
  font-size: 30px;
  font-family: myfont;
  font-weight: normal;
}
.meet-chef h1 {
  color: #262626;
  font-family: myfont;
  font-weight: bold;
}
.article-3 {
  text-align: left !important;
  box-shadow: 0 0 10px rgba(136, 136, 136, 0.1);
}
.article-3:hover {
  transform: translateY(0px);
}

.article-3 a {
  font-size: 20px;
  padding: 0px 25px !important;
  line-height: 38px;
}
.article-3 h4 {
  color: #464e71 !important;
  font-weight: normal;
  font-size: 15px;
  padding: 0 25px;
}
.article-3 p {
  color: #838383;
  padding: 15px 0;
  margin: 10px 25px;
  border-top: 1px solid #e8e6e6;
  font-size: 15px;
  font-family: myfont2;
}
.article-3 .image {
  overflow: hidden;
  /* position: relative; */
  width: 100%;
  margin: 0px auto;
  margin-bottom: 10px;
  padding: 0px 0;
}
.article-3 .image img {
  width: 100%;
  display: block;
  transition: 0.3s ease;
}
.article-3:hover .image > img {
  transform: scale(1.05);
}
.chef-info {
  display: flex;
  flex-direction: column;
  padding-left: 55px;
  padding-bottom: 30px;
  line-height: 40px;
}
.chef-info span{
  font-family: myfont2;
}
.chef-info .chef-info-2 {
  padding-left: 40px;
}
.chef-info-2 > i {
  margin: 0 10px;
}
.blog-post {
  background-color: #ffffff;
  padding: 80px 0;
  text-align: center;
}
.blog-post .logo-s-food img{
  margin: 10px 0 15px;
}
.blog-post-1 .section {
  max-width: 1200px;
  margin: 0 auto;
}
.blog-post-1 .section-blog {
  max-width: 1200px;
  margin: 0 auto;
}

.blog-post-1 .section-blog .section-b-1 .LabArtisan {
  box-shadow: 0 0 10px rgba(136, 136, 136, 0.1);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 25px;
  margin: 30px 0;
  /* flex-wrap: wrap; */
}
.blog-post-1 .section-blog .section-b-1 .LabArtisan .labartisan-content {
  text-align: left;
}
.blog-post-1 .section-blog .section-b-1 .LabArtisan .labartisan-content h6,
p {
  font-size: 18px;
  line-height: 24px;
}
.blog-post-1 .section-blog .section-b-1 .LabArtisan .labartisan-content p {
  color: #a1a1a1;
}
.blog-post-1
  .section-blog
  .section-b-1
  .LabArtisan
  .labartisan-content
  .sicial-media
  a {
  font-size: 15px;
  width: 30px;
  height: 30px;
  line-height: 30px;
  background: transparent;
}

/* ///////////////////////////////////////////////////////// */
.blog-post-1 .section-blog .section-b-1 .user-Comment {
  margin-top: 30px;
  box-shadow: 0 0 10px rgba(136, 136, 136, 0.1);
}
.blog-post-1 .section-blog .section-b-1 .user-Comment h4 {
  font-size: 20px;
  color: #000f3a;
  margin: 0 0 28px 0;
  padding: 20px 30px;
  border-bottom: 1px solid #e6e6e6;
  text-align: left;
}
.blog-post-1 .section-blog .section-b-1 .user-Comment ul li {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.blog-post-1 .section-blog .section-b-1 .user-Comment .user1-img {
  width: 80px;
  height: 80px;
}

.blog-post-1 .section-blog .section-b-1 .user-Comment .user2-img {
  width: 80px;
  height: 80px;
}
.blog-post-1 .section-blog .section-b-1 .user-Comment .user1-img img {
  max-width: 100%;
  height: auto;
}
.blog-post-1 .section-blog .section-b-1 .user-Comment .user2-img img {
  max-width: 100%;
  height: auto;
}
.blog-post-1 .section-blog .section-b-1 .user-Comment .user1-comment,
.user2-comment {
  padding-bottom: 20px;
  border-bottom: 1px solid #dbdbdb;
  width: calc(100% - 100px);
  text-align: left;
}
.blog-post-1 .section-blog .section-b-1 .user-Comment h6,
p {
  font-size: 18px;
  line-height: 24px;
}
.blog-post-1 .section-blog .section-b-1 .user-Comment p,
span:nth-child(2) {
  color: #696969;
}
.blog-post-1 .section-blog .section-b-1 .user-Comment p {
  padding-top: 8px;
}
.blog-post-1 .section-blog .section-b-1 .user-Comment ul {
  padding-left: 20px;
}
.blog-post-1 .section-blog .section-b-1 .user-Comment ul ul {
  padding-left: 30px;
  padding-top: 20px;
}
.blog-post-1 .section-blog .section-b-1 .user-Comment .user1-comment,
.user2-comment {
  position: relative;
}
.blog-post-1 .section-blog .section-b-1 .user-Comment span:nth-child(odd) i {
  margin-right: 4px;
}
.blog-post-1 .section-blog .section-b-1 .user-Comment span:nth-child(odd) {
  position: absolute;
  top: 0;
  right: 5%;
  font-size: 13px;
  font-weight: bold;
}
/* ///////////////////////////////////////////////////////// */
.blog-post-1 .section-blog .section-b-1 .Leave-Comment {
  margin: 30px 0;
  box-shadow: 0 0 10px rgba(136, 136, 136, 0.1);
  text-align: left;
}
.blog-post-1 .section-blog .section-b-1 .Leave-Comment h4 {
  font-size: 20px;
  color: #000f3a;
  margin: 0 0 28px 0;
  padding: 20px 30px;
  border-bottom: 1px solid #e6e6e6;
}
.blog-post-1 .section-blog .section-b-1 .Leave-Comment .form-l-comment {
  padding: 10px 30px 40px;
}
.blog-post-1 .section-blog .section-b-1 .Leave-Comment .form-l-comment form {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.blog-post-1
  .section-blog
  .section-b-1
  .Leave-Comment
  .form-l-comment
  form
  > input:nth-child(3) {
  width: 100%;
}
.blog-post-1
  .section-blog
  .section-b-1
  .Leave-Comment
  .form-l-comment
  form
  > input:nth-child(1) {
  width: calc(100% / 2 - 5px);
}
.blog-post-1
  .section-blog
  .section-b-1
  .Leave-Comment
  .form-l-comment
  form
  > input:nth-child(2) {
  width: calc(100% / 2 - 5px);
}
.blog-post-1 .section-blog .section-b-1 .Leave-Comment .form-l-comment p {
  display: flex;
  width: 100%;
  text-align: left !important;
}
.blog-post-1
  .section-blog
  .section-b-1
  .Leave-Comment
  .form-l-comment
  p
  input[type="checkbox"] {
  margin-right: 5px;
}
.blog-post-1 .section-blog .section-b-1 .Leave-Comment .form-l-comment button {
  border: none;
  outline: none;
  padding: 16px 25px;
  background: #d60231;
  border-radius: 4px;
  color: white;
  font-weight: bold;
}

.blog-post-1
  .section-blog
  .section-b-1
  .Leave-Comment
  .form-l-comment
  form
  input,
textarea {
  border: none;
  outline: none;
  background-color: #f1f6fa;
  margin-bottom: 20px;
  color: #696969;
  padding: 10px 15px;
}

/* /////////////////////////////////////////////// */
.blog-post-1 .section-blog .section-b-2 .search {
  /* background-color: #6f9a37; */
  padding: 25px;
  background: #fff;
  margin-bottom: 30px;
  box-shadow: 0 0 10px rgba(136, 136, 136, 0.1);
  margin-top: 15px;
}
.blog-post-1 .section-blog .section-b-2 .search .search-2 input[type="text"] {
  background: #f6fbff;
  height: 50px;
  padding-left: 10px;
  line-height: 50px;
  margin-bottom: 0;
  border: none;
  width: 100%;
  outline: none;
}
.blog-post-1 .section-blog .section-b-2 .search .search-2 button {
  position: absolute;
  top: 0;
  right: 0;
  width: 50px;
  height: 50px;
  border: none;
  outline: none;
  cursor: pointer;
  background-color: #f6fbff;
  padding: 0;
}
.blog-post-1 .section-blog .section-b-2 .search .search-2 {
  position: relative;
}

.blog-post-1 .section-blog .section-b-2 .Post-Categorys {
  background: #fff;
  margin-bottom: 30px;
  box-shadow: 0 0 10px rgba(136, 136, 136, 0.1);
}

.blog-post-1 .section-blog .section-b-2 .Post-Categorys h5 {
  padding: 25px 25px 15px 25px;
  border-bottom: 1px solid #e6e6e6;
  font-size: 20px;
  text-align: left;
  color: black;
}
.blog-post-1 .section-blog .section-b-2 .Post-Categorys ul {
  padding: 15px 0;
  text-align: left;
}
.blog-post-1 .section-blog .section-b-2 .Post-Categorys ul li {
  border-bottom: 1px solid #e6e6e6;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  transition: all 0.3s ease;
}
.blog-post-1 .section-blog .section-b-2 .Post-Categorys ul li:nth-child(8) {
  border-bottom: none;
}
.blog-post-1 .section-blog .section-b-2 .Post-Categorys ul li:hover {
  padding-left: 30px;
  color: #d60231;
}
.blog-post-1 .section-blog .section-b-2 .Post-Categorys ul li span i {
  margin-right: 8px;
}

.blog-post-1 .section-blog .section-b-2 .Popular-Post {
  background: #fff;
  margin-bottom: 30px;
  box-shadow: 0 0 10px rgba(136, 136, 136, 0.1);
}
.blog-post-1 .section-blog .section-b-2 .Popular-Post ul {
  padding: 15px 0;
  text-align: left;
}
.blog-post-1 .section-blog .section-b-2 .Popular-Post h5 {
  padding: 25px 25px 15px 25px;
  border-bottom: 1px solid #e6e6e6;
  font-size: 20px;
  text-align: left;
  color: black;
}
.blog-post-1 .section-blog .section-b-2 .Popular-Post h6,
p {
  font-size: 15px;
  line-height: 24px;
  padding: 0 5px;
}

.blog-post-1 .section-blog .section-b-2 .Popular-Post ul li {
  border-bottom: 1px solid #e6e6e6;
  padding: 20px;
  display: flex;
  flex-direction: row-reverse;
}

.blog-post-1 .section-blog .section-b-2 .Popular-Post .image-1 {
  width: 100px;
  height: 100px;
}
.blog-post-1 .section-blog .section-b-2 .Popular-Post .image-1 img {
  max-width: 100%;
}

.blog-post-1 .section-blog .section-b-2 .Post-Categorys {
  background: #fff;
  margin-bottom: 30px;
  box-shadow: 0 0 10px rgba(136, 136, 136, 0.1);
}

.blog-post-1 .section-blog .section-b-2 .Post-Categorys h5 {
  padding: 25px 25px 15px 25px;
  border-bottom: 1px solid #e6e6e6;
  font-size: 20px;
  text-align: left;
  color: black;
}
.blog-post-1 .section-blog .section-b-2 .Post-Categorys ul {
  padding: 15px 0;
  text-align: left;
}
.blog-post-1 .section-blog .section-b-2 .Post-Categorys ul li {
  border-bottom: 1px solid #e6e6e6;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  transition: all 0.3s ease;
}
.blog-post-1 .section-blog .section-b-2 .Post-Categorys ul li:nth-child(8) {
  border-bottom: none;
}
.blog-post-1 .section-blog .section-b-2 .Post-Categorys ul li:hover {
  padding-left: 30px;
  color: #d60231;
}
.blog-post-1 .section-blog .section-b-2 .Post-Categorys ul li span i {
  margin-right: 8px;
}

/* /////////////////////////////////// */
.blog-post-1 .section-blog .section-b-2 .FoodBuzz-Archives {
  background: #fff;
  margin-bottom: 30px;
  box-shadow: 0 0 10px rgba(136, 136, 136, 0.1);
}

.blog-post-1 .section-blog .section-b-2 .FoodBuzz-Archives h5 {
  padding: 25px 25px 15px 25px;
  border-bottom: 1px solid #e6e6e6;
  font-size: 20px;
  text-align: left;
  color: black;
}
.blog-post-1 .section-blog .section-b-2 .FoodBuzz-Archives ul {
  padding: 15px 0;
  text-align: left;
}
.blog-post-1 .section-blog .section-b-2 .FoodBuzz-Archives ul li {
  border-bottom: 1px solid #e6e6e6;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  transition: all 0.3s ease;
}
.blog-post-1 .section-blog .section-b-2 .FoodBuzz-Archives ul li:nth-child(7) {
  border-bottom: none;
}
.blog-post-1 .section-blog .section-b-2 .FoodBuzz-Archives ul li:hover {
  padding-left: 30px;
  color: #d60231;
}
.blog-post-1 .section-blog .section-b-2 .FoodBuzz-Archives ul li span i {
  margin-right: 8px;
}

/* ////////////////////////////////////////////////////////// */
.blog-post-1 .section-blog .section-b-2 .FoodBuzz-instagram {
  background: #fff;
  margin-bottom: 30px;
  box-shadow: 0 0 10px rgba(136, 136, 136, 0.1);
}
.blog-post-1 .section-blog .section-b-2 .FoodBuzz-instagram h5 {
  padding: 25px 25px 15px 25px;
  border-bottom: 1px solid #e6e6e6;
  font-size: 20px;
  text-align: left;
  color: black;
}
.blog-post-1 .section-blog .section-b-2 .FoodBuzz-instagram ul {
  display: flex;
  padding: 20px 20px;
  flex-wrap: wrap;
  justify-content: center;
}
.blog-post-1 .section-blog .section-b-2 .FoodBuzz-instagram ul li {
  width: Calc(100% / 3);
  padding: 0px;
}

.blog-post-1 .section-blog .section-b-2 .FoodBuzz-instagram ul li img {
  max-width: 100%;
}
/* ///////////////////////////////////////////////////// */
.blog-post-1 .section-blog .section-b-2 .Popular-Tags {
  background: #fff;
  margin-bottom: 30px;
  box-shadow: 0 0 10px rgba(136, 136, 136, 0.1);
}
.blog-post-1 .section-blog .section-b-2 .Popular-Tags h5 {
  padding: 25px 25px 15px 25px;
  border-bottom: 1px solid #e6e6e6;
  font-size: 20px;
  text-align: left;
  color: black;
}
.blog-post-1 .section-blog .section-b-2 .Popular-Tags ul {
  display: flex;
  padding: 20px;
  justify-content: center;
  flex-wrap: wrap;
}
.blog-post-1 .section-blog .section-b-2 .Popular-Tags ul li {
  line-height: 40px;
}
.blog-post-1 .section-blog .section-b-2 .Popular-Tags ul li a {
  border: none;
  outline: none;
  border: 1px solid #e6e6e6;
  padding: 5px 10px;
  margin: 5px;
  color: black;
  font-size: 15px;
}

/* /////////////////////////////////////////////////////////////// */
.blog-post-1 .section-blog .section-b-2 .Add-Banner-Place {
  background: #fff;
  margin-bottom: 30px;
  box-shadow: 0 0 10px rgba(136, 136, 136, 0.1);
}
.blog-post-1 .section-blog .section-b-2 .Add-Banner-Place h5 {
  padding: 25px 25px 15px 25px;
  border-bottom: 1px solid #e6e6e6;
  font-size: 20px;
  text-align: left;
  color: black;
}
.blog-post-1 .section-blog .section-b-2 .Add-Banner-Place div img {
  max-width: 100%;
}
.blog-post-1 .section-blog .section-b-2 .Add-Banner-Place div {
  padding: 20px;
}

/* /////////////////////////////////////// */
.blog-post-1 .article-3 {
  width: 370px;
}

.blog-post h3 {
  color: #d60231;
  font-size: 30px;
  line-height: 50px;
  font-family: myfont;
  font-weight: normal;
}
.blog-post h1 {
  color: #262626;
  font-family: myfont;
  /* font-size: 42px; */
}
.post-1 {
  box-shadow: 0 0 8px rgba(136, 136, 136, 0.08);
}
.post-1 a {
  display: block;
  font-size: 20px;
  padding-left: 25px !important;
  line-height: 30px;
  font-family: myfont;
  font-weight: bold;
}
.read-more {
  display: flex;
  justify-content: space-between;
  border-top: 1px solid #e9e9e9;
  padding: 22px;
  font-weight: bold;
}
.date {
  display: flex;
  padding: 10px 25px 0 25px;
  color: #bdb9b9;
}
.date span:nth-child(2) > i {
  padding-left: 30px;
}
.date-two {
  padding-left: 5px;
}
.post-1 p {
  border-top: none;
  font-size: 16px;
  line-height: 24px;
}
.Valuable-Client {
  background-image: url(Images/clients_bg.jpg);
  background-size: cover;
  /* padding: 80px 0; */
  text-align: center;
  color: #ffffff;
}
.Valuable-Client p.rate i{
  margin: 0 2px;
  margin-bottom: 20px;
}
.Valuable-Client .wrapper {
  background: rgba(0, 0, 0, 0.5);;
  max-width: 100%;
  padding: 70px 0;
}
.Valuable-Client h4 {
  font-size: 30px;
  font-weight: 500;
  padding-top: 10px;
  line-height: 1.5;
  font-family: myfont;
}
.Valuable-Client h2 {
  font-size: 32px;
  line-height: 38px;
  padding-bottom: 40px;
  font-family: myfont;
}
.Valuable-Client .about-team {
  max-width: 700px;
  /* text-align: center; */
  margin: 0 auto;
  padding: 30px 0;
  font-family: myfont2;
  line-height: 1.5;
}
.quote{
  padding: 0 5px;
}
.Valuable-Client .manan-name {
  line-height: 25px;
  
}
.Valuable-Client .User-img{
  width: 120px;
  height: 120px;
  margin: 0 auto;
}
.name2{
  margin-bottom: 50px;
  font-family: myfont2;
  font-weight: normal;

}
.Valuable-Client .name1 {
  font-weight: bold;
  font-size: 19px;
  text-transform: uppercase;
  font-weight: bold;
}
/* ////////////////swiper slider/////////////////////// */
.swiper {
  width: 100%;
  height: 100%;
}
.Valuable-Client .banner{
  width: 80%;
  /* height: 70vh; */
  margin: 0 auto;
  background-color: transparent !important;
} 
.swiper-pagination-bullet-active {
  background: white !important;
}
.swiper{
  background-color: transparent !important;
}
.swiper-wrapper{
  background-color: transparent;
}
.swiper-slide{
  background-color: transparent;
}
.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: rgba(235, 235, 235, 0);
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  /* display: block; */
  max-width: 100%;
  object-fit: cover;
  border-radius: 50%;
}
/* //////////////////news-ad////////////////////////// */
.news-ad {
  position: relative;
  padding: 20px 0;
}
.news-ad .section{
width: 100%;
padding-right: 15px;
padding-left: 15px;
margin-right: auto;
margin-left: auto;
}
.news-ad .section .content{
  width: 100%;
  display: flex;
  align-items: center;
  padding: 18px 0;
  flex-wrap: wrap;

}
.news-ad .content .img-news{
  width: 100%;
  z-index: 99;
  text-align: center;
}
.news-ad .content .best-news{
  width: 100%;
  z-index: 99;
  text-align: center;
}
.news-ad .content .img-news a p{
  margin: 0;
  font-size: 14px;
  padding-top: 10px;
  color: #a77050;
  text-transform: uppercase;
}
.news-ad .content .best-news ul{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.news-ad .content .best-news ul li{
  margin: 5px;
  padding: 5px 0;
}
.news-ad .content .best-news h5{
  font-size: 20px;
  color: #fff;
  padding-right: 25px;
  font-family: myfont;

}

  .news-ad::before{
  left: 0;
  width: 100%;
  background: #ffc139;
  position: absolute;
  content: "";
  top: 0;
  height: 100%;
}
.news-ad::after{
  right: 0;
  width: 100%;
  background: #d60231;
  position: absolute;
  content: "";
  top: 0;
  height: 100%;
  display: none;
}



.top {
  width: 40px;
  height: 40px;
  background-color: #d60231;
  color: white;
  border: none;
  outline: none;
  border-radius: 50%;
  position: fixed;
  bottom: 70px;
  right: 75px;
  transition: .5s;
}
.top:hover{
  background-color: #fff;
  transform: translateY(-4px);
}
.top i{
  font-weight: bold;
}
.top:hover i{
  color: #d60231;
}
.numbers {
  display: flex;
  justify-content: center;
  /* background-color: #262626; */
  max-width: 1200px;
  margin: 50px auto;
  margin-bottom: 0px;
}
.numbers span {
  display: inline-block;
  background-color: rgb(255, 255, 255);
  color: #767676;
  box-shadow: 0 3px 4px rgba(10, 31, 68, 0.1);
  width: 45px;
  height: 45px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  margin: 0 5px;
}
.numbers .dot {
  background-color: transparent !important;
  box-shadow: none;
  font-weight: bold;
}
.map {
  width: 100%;
  height: 100vh;
}
.map .map-area {
  width: 100%;
}
iframe {
  border: none;
  width: 100vw;
  height: 100vh;
}

.Contact-main .section-one {
  padding: 70px 0;
  /* max-width: 720px; */
  max-width: 1200px;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}
.Contact-main .section-one .Contact-info {
  background-color: #fff;
  box-shadow: 0 0 10px rgba(136, 136, 136, 0.1);
  padding: 60px 30px 0;
  display: flex;
  flex-wrap: wrap;
  text-align: left !important;
}
.Contact-main .section-one .Contact-info .info-1 {
  background: url(Images/contact-info-img.png);
  margin-bottom: 0px;
  background-position: bottom left;
  text-align: left !important;
}
.Contact-main .section-one .Contact-info h5 {
  font-size: 24px;
  margin-bottom: 30px;
  line-height: 30px;
}
.Contact-main .section-one .Contact-info h6 {
  font-size: 18px;
}
.Contact-main .section-one .Contact-info .info-1 > div {
  display: flex;
  flex-direction: column;
  /* justify-content: space-between; */
  flex-wrap: wrap;
  margin-bottom: 25px;
}

.Contact-main .section-one .Contact-info .info-1 > div > p {
  color: #696969;
  line-height: 24px;
  padding-top: 5px;
}

.Contact-main .section-one .Contact-info .info-2 form {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  /* flex-direction: column; */
}

.Contact-main .section-one .Contact-info .info-2 form input {
  height: 50px;
  margin-bottom: 30px;
  width: 100%;
  border: none;
  outline: none;
  border: 1px solid #e6e6e6;
  padding: 0 10px;
  font-size: 15px;
  border-radius: 3px;
}
.Contact-main .section-one .Contact-info .info-2 form textarea {
  width: 100%;
}
.Contact-main .section-one .Contact-info .info-2 form button {
  background-color: transparent;
  border: none;
  outline: none;
  border: 2px solid #d60231;
  color: #d60231;
  padding: 15px 0;
  width: 30%;
  border-radius: 4px;
  font-weight: bold;
  margin-bottom: 80px;
}
/* /////////////////////////////// */
/* ---------------------------------- */
@media screen and (min-width: 570px) {
  .cream {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 10px 15px 10px;
  }
  .article-2 a {
    /* padding: 10px 0 30px 0; */
  }
}
@media screen and (min-width: 576px) {
  .article-2 {
    display: flex;
  }
  .article-2 .image {
    overflow: hidden;
    position: relative;
    width: 150px;
    padding: 20px 15px;
  }
  .article-2 .image img {
    width: 100%;
    display: block;
  }
  .form-2 {
    display: flex;
    flex-wrap: wrap;
  }
  .form-table .form1 input {
    border: none;
    outline: none;
    border: 1px solid #d6d0d0d3;
    border-radius: 8px;
    /* padding: 15px; */
    max-width: 100%;
    height: 40px;
    margin: 10px 10px;
    padding: 4px 10px;
    font-size: 15px;
    color: #b5b0b0;
  }
  .form1 .select {
    border: none;
    outline: none;
    border: 1px solid #d6d0d0d3;
    border-radius: 8px;
    /* padding: 15px; */
    width: 200px;
    height: 48px;
    margin: 10px 10px;
    padding: 5px 10px;
    font-size: 15px;
    background-color: transparent;
    color: #b5b0b0;
  }
  #header-3 h2 {
    color: black;
    font-size: 48px;
  }
  #header-3 p {
    margin: 0 auto;
  }
  .day-hour > li {
    /* background-color: #c2a4a4; */
    width: 50px;
    padding: 10px 0;
  }
  .about-r2 h1 {
    color: #d60231 !important;
    font-size: 48px;
  }
  .about-r2 h2 {
    color: black !important;
    font-size: 36px;
  }
  #online-table2 h1 {
    color: #362725;
    padding-bottom: 20px;
    font-size: 48px;
    line-height: 1.4;
  }
  .Contact-main .section-one .Contact-info .info-2 form input:nth-child(1) {
    width: calc(100% / 2 - 38px);
    /* width: 45%; */
  }
  .Contact-main .section-one .Contact-info .info-2 form input:nth-child(2) {
    width: calc(100% / 2 - 38px);
    /* width: 45%; */
  }
  /* ////////////update header////////////////// */
  .orderAndWelcome > span {
    font-size: 30px;
  }
  .orderAndWelcome h2 {
    font-size: 56px;
    line-height: 66px;
  }
  .orderAndWelcome h3 {
    font-size: 36px;
  }
  /* /////////////history update////////////// */
  .about-r span {
    font-size: 30px;
    margin-bottom: 5px;
  }
  .about-r h3 {
    font-size: 33px;
    margin-bottom: 15px;
  }
  /* ////////////////special food update////////////////////////////// */
  #special-food h1 {
    font-size: 48px;
    line-height: 65px;
    padding-bottom: 30px;
    font-family: myfont;
  }
  #special-food .section {
    max-width: 540px;
    margin: 0 auto;
  }
  #history .section {
    max-width: 540px;
    margin: 0 auto;
  }
  .online-table .section {
    max-width: 540px;
    margin: 0 auto;
  }
  .article {
    text-align: center !important;
  }
  .article-2 {
    text-align: left !important;
  }
  .article-3 {
    text-align: left !important;
  }
  .form-table form input,
  .result-t {
    width: calc(100% / 2 - 45px) !important;
  }
  .online-table h1 {
    font-size: 48px;
    line-height: 1.2;
  }
  .online-table h1 {
    margin-bottom: 50px;
  }
  .article-3 {
    max-width: 500px;
    margin: 10px auto;
  }
  .meet-chef h1 {
    font-size: 48px;
    line-height: 1.2;
    margin-bottom: 30px;
  }
  .blog-post h1 {
    font-size: 48px;
    margin-bottom: 50px;
  }
  .Valuable-Client h2 {
    font-size: 48px;
    line-height: 1.4;
  }
  .Valuable-Client .about-team {

    font-size: 17px;
  }
  /* .news-ad .content .best-news {
    display: flex;
    flex-direction: column;
    align-items: center;
  } */
  .news-ad .section{
    max-width: 540px;
    }
  .news-ad .content .best-news h5{
      font-size: 24px;
      line-height: 24px;
    
    }
footer .contact h4,
.contact2 h4,
.subscribe h3 {
  font-size: 24px;
  line-height: 24px;
}
}
@media screen and (min-width: 768px) {
  #online-table2 .Reservation {
    background-color: white;
    max-width: 700px;
    overflow: hidden;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
  }
  #online-table2 .Reservation .form-table {
    width: 650px;
    margin: 20px auto;
  }
  .form-table .form1 input {
    border: none;
    outline: none;
    border: 1px solid #d6d0d0d3;
    border-radius: 8px;
    /* padding: 15px; */
    max-width: 100%;
    height: 40px;
    margin: 10px 10px;
    padding: 4px 10px;
    font-size: 15px;
    color: #b5b0b0;
  }
  .form1 .select {
    border: none;
    outline: none;
    border: 1px solid #d6d0d0d3;
    border-radius: 8px;
    /* padding: 15px; */
    width: 300px;
    height: 48px;
    margin: 10px 10px;
    padding: 5px 10px;
    font-size: 15px;
    background-color: transparent;
    color: #b5b0b0;
  }
  .form1 textarea {
    resize: none;
    border: 1px solid #d6d0d0d3;
    border-radius: 10px;
    padding: 10px;
    margin: 10px 0;
    width: 595px;
  }
  .article-3 {
    max-width: 340px;
    margin: 10px auto;
  }
  .blog-post-2 .article-3 {
    max-width: 350px;
  }
  .news-ad {
    /* background-color: #ffc139; */
    /* height: 16vh; */
    /* display: flex; */
    /* flex-direction: column; */
    /* justify-content: flex-start; */
    /* align-items: center; */
    /* text-align: center; */
  }
  .news-ad .content .best-news {
    /* display: flex; */
    /* flex-direction: row; */
    /* justify-content: space-between; */
    /* align-items: center; */
    /* background-color: #d60231; */
    /* padding: 20px 10px; */
  }
  .news-ad .content .img-news{
    /* float: left; */
    
    /* position: absolute; */
    
  }
  .news-ad .content .best-news {
    /* display: flex; */
    /* flex-direction: row; */
    /* justify-content: space-between; */
    /* align-items: center; */
    /* background-color: #d60231; */
    /* padding: 20px 10px; */
  }
  .news-ad .content {
    /* position: relative; */
  }
  .news-ad .content .best-news {
    /* position: absolute; */
    /* right: 0; */
    /* width: 40%; */
  }
  .news-ad .content .best-news span {
    /* font-size: 13px; */
    /* font-weight: bold; */
    /* color: #fff; */
  }
  .news-ad::before{
    width: 40%;
  }
  .news-ad::after{
    width: 60%;
    display: block;
  }
  #header-3 .abour-r {
    text-align: left !important;
  }
  #special-food .section {
    max-width: 720px;
    margin: 0 auto;
  }
  #history .section {
    max-width: 720px;
    margin: 0 auto;
  }
  .online-table .section {
    max-width: 720px;
    margin: 0 auto;
  }
  .meet-chef .section {
    max-width: 740px;
    margin: 0 auto;
  }
  .news-ad .section{
    max-width: 720px;
    }
    .news-ad .content .img-news{
      width: 40%;
      z-index: 99;
      text-align: left;
    }
    .news-ad .content .best-news{
      width: 60%;
      z-index: 99;
    }
}
@media screen and (min-width: 720px) {
}

@media screen and (min-width: 960px) {
  .online-table .Reservation {
    flex-direction: row;
    border-radius: 10px;
  }
  #online-table2 .Reservation {
    background-color: white;
    max-width: 900px;
    overflow: hidden;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    border-radius: 10px;
  }
  #online-table2 .Reservation .form-table {
    width: 420px;
    margin: 20px auto;
  }
  .form-table .form1 input {
    border: none;
    outline: none;
    border: 1px solid #d6d0d0d3;
    border-radius: 8px;
    /* padding: 15px; */
    max-width: 100%;
    height: 40px;
    margin: 10px 10px;
    padding: 4px 10px;
    font-size: 15px;
    color: #b5b0b0;
  }
  .form1 .select {
    border: none;
    outline: none;
    border: 1px solid #d6d0d0d3;
    border-radius: 8px;
    /* padding: 15px; */
    width: 180px;
    height: 48px;
    margin: 10px 10px;
    padding: 5px 10px;
    font-size: 15px;
    background-color: transparent;
    color: #b5b0b0;
  }
  .form1 textarea {
    resize: none;
    border: 1px solid #d6d0d0d3;
    border-radius: 10px;
    padding: 10px 15px;
    margin: 10px 0;
    width: 365px;
  }
  .chef-last {
    display: none;
  }
  .article-3 {
    position: relative;
  }
  .right-follow-me {
    position: absolute;
    content: "";
    top: 0;
    bottom: 0;
    right: 0;
    /* height: 400px; */
    background-color: #fff;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-end;
    width: 55px;
    overflow: hidden;
  }
  .right-follow-me .head-follow {
    width: 200%;
    background: linear-gradient(to left, #23cc88, #8ecf35);
    padding: 16px;
    transition: all 0.5s ease-in-out;
    transform: rotate(90deg);
    top: -117px;
    right: 43px;
  }
  .right-follow-me .head-2 {
    background: linear-gradient(to left, #01cbad, #47a1f2);
  }
  .right-follow-me .head-3 {
    background: linear-gradient(
      to left,
      #ff4f58,
      #ff6747,
      #ff8134,
      #ff9a1e,
      #ffb400
    );
  }
  .right-follow-me .head-follow > span {
    font-family: myfont2;
    color: white;
    font-weight: bold;
  }
  .icon-follow {
    position: absolute;
    /* right: 15px; */
    top: 125px;
  }
  .icon-follow ul li {
    /* margin-bottom: 5px; */
    /* margin-top: 15px; */
    border-bottom: 1px solid #e6e6e6;
  }
  .icon-follow ul li:hover{
    background-color: #d60231;
  }
  .icon-follow ul li:hover a i{
    color: white !important;
  }
  .icon-follow ul li:first-child{
    margin-top: 14px;
  }
  .icon-follow ul li a i{
    margin-right: 20px;
    margin-bottom: 20px;
    padding-bottom: 5px;
  }
  .icon-follow ul li:last-child{
    border-bottom: none;
  }
  .head-follow {
    position: relative;
  }
  .right-follow-me .head-follow > span::after {
    position: absolute;
    content: "";
    width: 15px;
    height: 15px;
    background: #23cc88;
    right: -6px;
    transform: rotate(135deg);
    bottom: 18px;
    border-radius: 3px;
    transition: all 0.3s ease;
  }
  .right-follow-me .head-2 > span::after {
    background-color: #01cbad;
  }
  .right-follow-me .head-3 > span::after {
    background-color: #ff4f58;
  }
}
@media screen and (min-width: 992px) {
  .orderAndWelcome h4 {
    font-size: 30px;
  }
  .orderAndWelcome h2 {
    font-size: 82px;
    line-height: 92px;
  }
  .article-3 {
    max-width: 370px;
    margin: 10px auto;
  }
  #header {
    padding: 185px 0;
    background-position: center;
  }
  #header-2 {
    padding: 150px 0;
  }
  .about-r {
    text-align: justify;
    /* padding-top: 70px; */
    padding-left: 30px;
  }
  #header-3 .about-r {
    padding-left: 50px;
  }
  #header-3 .about-r h2 {
    padding-top: 48px;
  }
  .copyright .copy-r {
    display: flex !important;
    flex-direction: row;
    align-items: center;
    /* justify-content: center; */
    margin-top: 1px;
  }
  .copy-r li {
    color: black;
    font-weight: 500;
  }
  #header-3 p {
    margin: 0;
  }
  .get-dir-2 {
    margin-left: 0;
  }
  .day-hour {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    position: relative;
  }
  #special-food .section {
    max-width: 960px;
    margin: 0 auto;
  }
  #history .section {
    max-width: 960px;
    margin: 0 auto;
  }
  .online-table .section {
    max-width: 960px;
    margin: 0 auto;
  }
  .Reservation .bg-table {
    height: 500px;
    margin-bottom: 0px;
  }
  .meet-chef .section {
    max-width: 990px;
    margin: 0 auto;
  }
  .news-ad .section{
    max-width: 960px;
    }
    .news-ad .content .best-news ul{
      justify-content: space-between;
    }
}
@media screen and (min-width: 1200px) {
  #history {
    padding: 100px 0;
  }
  .history-2 {
    padding: 80px 0;
  }
  #header-3 {
    padding: 70px 0;
  }
  #special-food .wrapper {
    padding: 50px 0;
  }
  .menu .row {
    display: flex;
  }
  .menu {
    max-width: 1200px;
    margin: 0 auto;
  }
  .menu .row .menus {
    display: flex;
    align-items: center;
    flex-grow: 1;
    justify-content: flex-end;
  }
  .menu .row .menus #menus {
    display: flex;
  }
  .menu .row .menus #menus > li {
    float: left;
  }
  .menu .row .menus #menus > li a {
    border-bottom: none !important;
    font-family: myfont;

  }
  .menu .row .menus #menus > li > a {
    padding: 30px 8px;
  }
  #menu #menus .subitem > a {
    color: white;
  }

  #menu #menus .subitem > a:hover {
    color: #d60231;
  }
  .menu-btn {
    display: none;
  }
  .menu .row .menus #menus > li.item {
    position: relative;
  }
  .menu .row .menus #menus > li.item:hover .submenus {
    opacity: 1;
    visibility: visible;
    transition: all 0.3s ease;
  }
  .menu .row .menus #menus > li .submenus {
    display: flex;
    flex-direction: column;
    position: absolute;
    background: #d60231;
    opacity: 0;
    visibility: hidden;
    width: 200px;
    /* margin-top: 25px; */
  }
  #menu .item {
    line-height: 270%;
    padding: 0 8px;
  }
  .menu .row .menus .subitem:hover {
    background-color: white;
  }
  .menu .row .menus .subitem:hover .subitem a {
    color: red !important;
  }
  .menu .row .menus .subitem:hover .subitem li {
    color: red !important;
  }
  .menu .row .tools {
    display: flex;
    gap: 13px;
    align-items: center;
    justify-content: center;
    padding-right: 20px;
    padding-left: 20px;
  }
  .menu .row .tools .tool {
    background: transparent;
    border: 1px solid rgba(226, 223, 223, 0.737);
    padding: 4px;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .second-menu {
    background: #d60231;
    /* padding: 10px; */
    color: #fff;
  }
  .second-menu .s-menu span i {
    margin-right: 5px;
  }
  .s-menu {
    display: flex;
    justify-content: center;
    /* padding: 10px 0; */
  }
  .second-menu .s-menu span {
    border-left: 1px solid #ffffff42;
    /* border-right: 1px solid #ffffff42; */
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 12px 15px;
    font-family: myfont2;
    font-weight: normal;
    font-size: 15px;
  }
  .second-menu .s-menu span:last-child {
    border-right: 1px solid #ffffff42;
  }
  #header-3 h2 {
    color: black;
    font-size: 60px;
  }
  .get-dir-2-1 {
    right: 15px;
  }
  #online-table2 {
    background-color: #fffaf4 !important;
    text-align: center;
    padding: 120px 0;
  }
  .Contact-main .section-one {
    position: relative;
    margin-bottom: -130px;
    z-index: 2px;
  }
  #special-food .section {
    max-width: 1200px;
    margin: 0 auto;
  }
  #history .section {
    max-width: 1200px;
    margin: 0 auto;
  }
  .online-table .section {
    max-width: 1200px !important;
    margin: 0 auto;
  }

  .online-table .wrapper {
    padding: 120px 0;
  }
  .meet-chef .section {
    max-width: 1200px;
    margin: 0 auto;
  }
  .blog-post {
    padding: 120px 0;
  }
  .Valuable-Client .wrapper {
    padding: 120px 0;
  }
  .news-ad .content .best-news {
    /* display: flex; */
    /* flex-direction: row; */
    /* justify-content: space-between; */
    /* align-items: center; */
    /* background-color: #d60231; */
    /* padding: 35px 10px; */
    /* position: absolute; */
    /* right: 0; */
  }
  .news-ad .section{
    max-width: 1200px;
    }
}
